body {
	font-family:  Arial, Helvetica, sans-serif;
    background-color: pink;
}
.two-section{
    padding-top: 5%;
    padding-left: 10%;
    color: white;
    align-items: center;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    font-family:  Arial, Helvetica, sans-serif;
}
.button1 {
    background-color: #cae6f0;
}
.button:hover {
    background-color: #008CBA;
}
.partners{
    padding-top: 5%;
}
.about-section{
    padding-top: 10%;
}